<nav class = "brown ligthen-4 z-depth-2">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">CodePro</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Courses</a></li>
        <% if !user_signed_in? %>
          <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% else %>
          <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown1">
              <%= image_tag gravatar_url(current_user.email,40),class:"circle responsive-img" %>&nbsp;
              <%=current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Courses</a></li>
  <% if !user_signed_in? %>
    <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% else %>
    <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown2">
        <%= image_tag gravatar_url(current_user.email,40),class:"circle responsive-img" %>&nbsp;
        <%=current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
  <% end %>
</ul>
