<nav class = "light-blue darken-1 z-depth-2">
  <div class="container">
    <div class="nav-wrapper">
    <%= link_to 'Nzingu', root_path,class:"brand-logo" %>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
        <%= link_to 'Courses', project_index_path %>
        </li>
         <li><a href="<%= pages_about_path %>">A Propos</a></li>
        <% if !user_signed_in? %>
          <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% else %>
          <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown1">
              <%= image_tag avatar_url(current_user),class:"circle responsive-img" %>&nbsp;
              <%=current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>  <%= link_to 'Courses', project_index_path %></li>
   <li><a href="<%= pages_about_path %>">A Propos</a></li>
  <% if !user_signed_in? %>
    <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% else %>
    <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown2">
        <%= image_tag avatar_url(current_user),class:"circle responsive-img" %>&nbsp;
        <%=current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
  <% end %>
</ul>
